body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(/img/background3.gif);
	background-repeat: repeat-x;
	background-color: #A0A0A3;
	color: white;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
}
#shadow {
	background-image: url(/img/rlshadow.png);
	background-repeat: no-repeat;
	background-position: right top;
	width: 777px;
	height: 612px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin-bottom:0;
	position: relative;
}
#lshadow {
	margin: 0;
	margin-left: 2px;
	padding: 0;
}
#main {
	border:1px solid white;
	width: 770px;
	margin-left: 0px;
	margin-right: 5px;
	margin-top:0px;
	margin-bottom:0px;
	background-color: black;
	color: white;
}
#top {
    margin: 0;
	width: 770px;
	height: 88px;
}
#ki {
	margin: 0;
	border: 0;
	position: relative;
	top: 20px;
	left: 16px;
}


#interna {
	border: 1px solid black;
	width: 770px;
	height: 610px;
	margin-left: 0px;
	margin-right: 5px;
	margin-top:0px;
	margin-bottom:0px;
	background-color: white;
	background-image: url(/img/logo_sx.gif);
	background-position: 100% 3.5%;
	color: black;
	background-repeat: no-repeat;
}
#logo {
	margin: 0;
	border: 0;
	position: relative;
	top: 20px;
	left: 16px;
}
.menu {
	margin-top: 40px;
	margin-left: 70px;
	list-style-type: none;
}
